<!DOCTYPE html>
<html>
<head>
	<title>Angular Js</title>
	 <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
</head>
<body ng-app="blurExample">
	<div ng-controller="exampleController">
		<label>NAme:<input type="text" ng-model="user.name" ng-model-options="{updateOn : 'blur'}">
		</label>
		<label>
			Other Data:
			<input type="text" ng-model="user.data">
		</label><br/>
		<pre>Username : {{user.name}}</pre>
		<pre>Other Data: {{user.data}}</pre>
	</div>
<script>
(function(){
'use Strict';
var app = angular.module('blurExample', []);
app.controller('exampleController',['$scope', function($scope){
$scope.user={};
}]);
})(window.angular);
</script>
</body>
</html>
