<!DOCTYPE html>
<html>
<head>
	<title>Angular Js</title>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.0-rc.0/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<form>
		Name:<input type="text" ng-model="bname">
		Phone:<input type="text" ng-model="bphone">
		<input type="button" value="submit" ng-click="insertData()">
	</form>
	</div>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function($scope,$http){    
        $scope.insertData=function(){    
        alert("hello");  
            $http.post("test.php", {
                'bname':$scope.bname,
                'bphone':$scope.bphone
            }).then(function(response){
                    console.log("Data Inserted Successfully");
                },function(error){
                    alert("Sorry! Data Couldn't be inserted!");
                    console.error(error);

                });
            }
        });
    </script>
</body>
</html>
